In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
from sklearn.model_selection import GridSearchCV

In [4]:
properati = pd.read_csv(r'd:\LocalData\la02964\Desktop\Ciencia de Datos\clase_04-master\clusterai_2019_clase04_regresion_dataset_properati_caba.csv', delimiter=',')

In [5]:
properati.head()
properati.shape

(25319, 13)

In [6]:
properati.isnull().sum()

id                           0
created_on                   0
operation                    0
property_type                0
neighbourhood                0
lat                       1048
lon                       1048
price                     1928
surface_total_in_m2       3323
surface_covered_in_m2     2529
floor                    22093
rooms                     6607
expenses                 20289
dtype: int64

In [7]:
properati.dtypes

id                        object
created_on                object
operation                 object
property_type             object
neighbourhood             object
lat                      float64
lon                      float64
price                    float64
surface_total_in_m2      float64
surface_covered_in_m2    float64
floor                    float64
rooms                    float64
expenses                 float64
dtype: object

In [8]:
properati.head()

,id,created_on,operation,property_type,neighbourhood,lat,lon,price,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses
0,1649a3c35359d681abae4a63d9a8545054d2096b,2017-09-22,sell,house,Palermo Viejo,-34.588953,-58.429882,2000000.0,312.0,NaN,NaN,NaN,NaN
1,1ab035ccbe77702987c3f09850d12c634e612aa2,2017-09-01,sell,PH,Parque Chacabuco,-34.635866,-58.431048,131500.0,80.0,50.0,NaN,3.0,NaN
2,90fc7c61b6fbc6ef99368a21cd9ac0d30d54c697,2017-09-01,sell,apartment,Barracas,-34.644924,-58.371919,140000.0,125.0,85.0,NaN,NaN,NaN
3,c195e8f3a596ab49b95d699c07e1a04be503ba68,2017-09-01,sell,apartment,Recoleta,-34.596511,-58.385747,109000.0,45.0,45.0,2.0,2.0,3350.0
4,f891875ff44e6f99e30e101b3901d1e7510ef41b,2017-09-01,sell,apartment,Parque Patricios,-34.639173,-58.417069,94000.0,38.0,38.0,NaN,NaN,NaN

In [9]:
properati.drop(['expenses', 'floor'], axis='columns', inplace=True)

In [10]:
properati.drop(['id'],axis='columns',inplace=True)

In [11]:
properati.head()

,created_on,operation,property_type,neighbourhood,lat,lon,price,surface_total_in_m2,surface_covered_in_m2,rooms
0,2017-09-22,sell,house,Palermo Viejo,-34.588953,-58.429882,2000000.0,312.0,NaN,NaN
1,2017-09-01,sell,PH,Parque Chacabuco,-34.635866,-58.431048,131500.0,80.0,50.0,3.0
2,2017-09-01,sell,apartment,Barracas,-34.644924,-58.371919,140000.0,125.0,85.0,NaN
3,2017-09-01,sell,apartment,Recoleta,-34.596511,-58.385747,109000.0,45.0,45.0,2.0
4,2017-09-01,sell,apartment,Parque Patricios,-34.639173,-58.417069,94000.0,38.0,38.0,NaN

In [12]:
properati.drop(['lat', 'lon'], axis='columns', inplace=True)

In [13]:
properati = properati.drop(properati.loc[properati['surface_total_in_m2'].isnull()].index)

In [14]:
properati.isnull().sum()

created_on                  0
operation                   0
property_type               0
neighbourhood               0
price                     857
surface_total_in_m2         0
surface_covered_in_m2     843
rooms                    4607
dtype: int64

In [15]:
properati = properati.drop(properati.loc[properati['rooms'].isnull()].index)

In [16]:
properati.shape

(17389, 8)

In [17]:
properati = properati.drop(properati.loc[properati['price'].isnull()].index)

In [18]:
properati.isnull().any()

created_on               False
operation                False
property_type            False
neighbourhood            False
price                    False
surface_total_in_m2      False
surface_covered_in_m2     True
rooms                    False
dtype: bool

In [19]:
properati = properati.drop(properati.loc[properati['surface_covered_in_m2'].isnull()].index)

In [21]:
properati.isnull().any()

created_on               False
operation                False
property_type            False
neighbourhood            False
price                    False
surface_total_in_m2      False
surface_covered_in_m2    False
rooms                    False
dtype: bool

In [22]:
price_q97 = properati.price.quantile(0.95)
properati_filtrado = properati.loc[(properati.price < price_q97)]

In [23]:
properati.shape

(16296, 8)

In [24]:
df_train = pd.get_dummies(properati.neighbourhood)

In [26]:
df_train2=pd.get_dummies(properati.property_type)

In [31]:
properati_filtrado.drop(['operation'], axis='columns', inplace=True)

C:\Users\la02964\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [32]:
properati_filtrado = properati_filtrado.join([df_train, df_train2])

In [33]:
properati_filtrado.head()

,created_on,property_type,neighbourhood,price,surface_total_in_m2,surface_covered_in_m2,rooms,Abasto,Agronomía,Almagro,...,Villa Pueyrredón,Villa Real,Villa Santa Rita,Villa Soldati,Villa Urquiza,Villa del Parque,PH,apartment,house,store
1,2017-09-01,PH,Parque Chacabuco,131500.0,80.0,50.0,3.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2017-09-01,apartment,Recoleta,109000.0,45.0,45.0,2.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,2017-09-01,apartment,Flores,160000.0,76.0,76.0,3.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,2017-09-01,apartment,Caballito,160000.0,76.0,76.0,3.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,2017-09-01,apartment,Villa Crespo,240435.0,101.0,75.0,3.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [34]:
y = np.array(properati_filtrado[["price"]])

In [35]:
x = properati_filtrado.drop(['price', 'neighbourhood','property_type','created_on'], axis=1)

In [36]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=4)

In [37]:
scaler = preprocessing.StandardScaler().fit(xtrain)
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [38]:
xtrain_scal = scaler.transform(xtrain)

In [39]:
xtest_scal = scaler.transform(xtest)

In [40]:
lr = LinearRegression()

In [41]:
lr.fit(xtrain_scal, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
ypred = lr.predict(xtest_scal)

In [43]:
np.sqrt(mean_squared_error(ytest, ypred))

166883.6208730763

In [44]:
mean_squared_error(ytest, ypred)

27850142915.708668

In [45]:

from sklearn.metrics import mean_absolute_error

In [46]:

mean_absolute_error(ytest, ypred)

96924.9293227359